* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.App {
    height: 660px;
    width: 680px;
    background-color: #0B2434;
    margin-top: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

