* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.Center-body {
    height: 520px;
    width: 520px;
    background-color: #F5F5F5;
    border-radius: 20px;
    
}

.Center-heading {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: #2B283A;
}

.Center-para {
    display: flex;
    width: 300px;
    margin-left: 20%;
    color: #4A4E74;
    text-align: center;
}


